[submodule "flash-attention"]
	path = flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "alpaca_eval"]
	path = alpaca_eval
	url = https://github.com/tatsu-lab/alpaca_eval.git
[submodule "LLaMA-Factory"]
	path = LLaMA-Factory
	url = https://github.com/hiyouga/LLaMA-Factory.git
[submodule "Qwen-self-instruct"]
	path = Qwen-self-instruct
	url = https://github.com/LLM-class-group/Qwen-self-instruct.git
